################# Enable Mod Rewrite
<IfModule mod_rewrite.c>
   RewriteEngine On
   Options +FollowSymlinks
   RewriteBase /

################# Block access to htaccess
<Files .htaccess>
order allow,deny
deny from all
</Files>

################## Prevent directory listings
Options All -Indexes

################## pass the default character set
AddDefaultCharset UTF-8

################### access only with http
RewriteCond %{HTTPS} on
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

################## open site without www 
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

################### prevent site from being cached
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>
<FilesMatch "\.(css|flv|gif|htm|html|ico|jpe|jpeg|jpg|js|mp3|mp4|png|pdf|swf|txt)$">
    <IfModule mod_expires.c>
        ExpiresActive Off
    </IfModule>
    <IfModule mod_headers.c>
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
    </IfModule>
</FilesMatch>

###################  Begin other Redirects
Redirect 301 /https https://fa.wikipedia.org/wiki/%D9%BE%D8%B1%D9%88%D8%AA%DA%A9%D9%84_%D8%A7%D9%85%D9%86_%D8%A7%D9%86%D8%AA%D9%82%D8%A7%D9%84_%D8%A7%D8%A8%D8%B1%D9%85%D8%AA%D9%86
Redirect 301 /ssl https://fa.wikipedia.org/wiki/%D8%A7%D9%85%D9%86%DB%8C%D8%AA_%D9%84%D8%A7%DB%8C%D9%87_%D8%A7%D9%86%D8%AA%D9%82%D8%A7%D9%84
Redirect 301 /tls https://fa.wikipedia.org/wiki/%D8%A7%D9%85%D9%86%DB%8C%D8%AA_%D9%84%D8%A7%DB%8C%D9%87_%D8%A7%D9%86%D8%AA%D9%82%D8%A7%D9%84
Redirect 301 /hsts https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security
Redirect 301 /http2 https://fa.wikipedia.org/wiki/%D9%BE%D8%B1%D9%88%D8%AA%DA%A9%D9%84_%D8%A7%D9%86%D8%AA%D9%82%D8%A7%D9%84_%D8%A7%D8%A8%D8%B1%D9%85%D8%AA%D9%86_%D9%86%DA%AF%D8%A7%D8%B1%D8%B4_%DB%B2
Redirect 301 /http https://fa.wikipedia.org/wiki/%D9%BE%D8%B1%D9%88%D8%AA%DA%A9%D9%84_%D8%A7%D9%86%D8%AA%D9%82%D8%A7%D9%84_%D8%A7%D8%A8%D8%B1%D9%85%D8%AA%D9%86

################# Main URL Redirects for online
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/[1-9]{9}day$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]


RewriteCond %{REQUEST_URI} ^/[1-9]{9}dawn$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}peace$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}smile$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}love$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}zen$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}laugh$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}yawn$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}poem$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}song$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}joke$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}verse$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}sunrise$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}sunset$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}eclipse$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}moon$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}rainbow$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}rain$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}plan$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}play$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}chart$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}children$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}stars$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}path$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}secret$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}treasure$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}melody$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}magic$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}spell$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}light$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

RewriteCond %{REQUEST_URI} ^/[1-9]{9}morning$ [NC]
RewriteRule ^(.*)$ /online [R=301,L]

</IfModule>

</IfModule>
